<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <h1 style="font-size:40px;">Quest Generator</h1>
        <form action="/quest_generator" method="GET">
            <input type="radio" name="quest_type" value="gather" checked> Gather<br>
            <input type="radio" name="quest_type" value="battle"> Battle<br>
            <input type="submit" value="Submit">
        </form>
        <hr>
        <h1 style="font-size:40px;">Loot Generator</h1>
        <form action="/loot_generator" method="GET">
            How many of each?<br>
            <input type="text" name="amount"><br>
            How many total?<br>
            <input type="text" name="itemcount"><br>
            <input type="radio" name="grade" value="Bad" checked> Bad<br>
            <input type="radio" name="grade" value="Normal"> Normal<br>
            <input type="radio" name="grade" value="Good" checked> Good<br>
            <input type="submit" value="Submit">
        </form>
        <hr>
        <h1 style="font-size:40px;">NPC Generator</h1>
        <form action="/npc_generator" method="GET">
            <input type="submit" value="Make a NPC">
        </form>
        <hr>
        <h1 style="font-size:40px;">Shop Generator</h1>
        <form action="/shop_generator" method="GET">
            <input type="radio" name="type" value="Weapons" checked> Weapon Shop<br>
            <input type="radio" name="type" value="LeatherCrafter"> Tanner<br>
            <input type="radio" name="type" value="Poison"> Poison Shop<br>
            <input type="radio" name="type" value="MagicIngredients"> Shop for Magical Ingredients<br>
            <input type="radio" name="type" value="MagicWeapons"> Shop for Magical Weapons<br>
            <input type="radio" name="type" value="Magic"> Magic Shop<br>
            <input type="radio" name="type" value="HuntingShop"> Hunting Shop<br>
            <input type="radio" name="type" value="PotionShop"> Potions Shop<br>
            <input type="radio" name="type" value="General"> General Store<br>
            <input type="radio" name="type" value="GemShop"> Gem Shop<br>
            <input type="radio" name="type" value="FoodStore"> Food Store<br>
            <input type="radio" name="type" value="Clothes"> Clothes Shop<br>
            <input type="radio" name="type" value="Armor"> Armor Shop<br>
            <input type="radio" name="type" value="Archery"> Archery Shop<br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>