<!DOCTYPE html>
<html>
<head>
	<title>RPG Tools</title>
</head>
<body>
	Name: {{npc["Name"]}}<br>
	Race: {{npc["Race"]}}<br>
	Manners: {{npc["Manners"]}}<br>
	Intelligence: {{npc["Intelligence"]}}<br>
	Physical Strength: {{npc["Physical_Strength"]}}<br>
	Influence: {{npc["Influence"]}}<br>
	Religious: {{npc["Religious"]}}<br>
	Social Ranking: {{npc["Social_Ranking"]}}<br>
	Wealth: {{npc["Wealth"]}}<br>
	Dominant Traits: {{npc["Dominant_Traits"]}}<br>
	Profession: {{npc["Profession"]}}<br>
	<a href="/" type="button">Back to main page</a>
</body>
</html>
 	